{% extends "base.html" %}
{% block title %}Colleges{% endblock %}
{% block page %}Colleges{% endblock %}
{% block content %}
<table class="table table-striped table-bordered mt-3">
    <thead class="table-dark">
        <tr>
            <th>Code</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        {% for college in college_data %}
        <tr>
            <td>{{ college.collegecode }}</td>
            <td>{{ college.collegename }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}