{% extends "base.html" %}
{% block title %}Courses{% endblock %}
{% block page %}Courses{% endblock %}
{% block content %}
<table class="table table-striped table-bordered mt-3">
    <thead class="table-dark">
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>College</th>
        </tr>
    </thead>
    <tbody>
        {% for course in course_data %}
        <tr>
            <td>{{ course.coursecode }}</td>
            <td>{{ course.coursename }}</td>
            <td>{{ course.collegecode }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}