{% extends "base.html" %}
{% block title %}Courses{% endblock %}
{% block page %}Courses{% endblock %}
{% block content %}
<table class="table table-striped table-bordered mt-3">
    <thead class="table-dark">
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>College</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>BSCS</td>
            <td>BS Computer Science</td>
            <td>CCS</td>
        </tr>
        <!-- Add more rows -->
    </tbody>
</table>
{% endblock %}