{% extends "base.html" %}
{% block title %}Courses{% endblock %}
{% block page %}Courses{% endblock %}
{% block create %}
<button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#createCourseModal">
    Create Course
</button>

<!-- Create Course Modal -->
<div class="modal fade" id="createCourseModal" tabindex="-1" aria-labelledby="createCourseModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createCourseModalLabel">Create Course</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{{ url_for('course_bp.courses') }}">
                    <!-- Form fields for course information -->
                    <div class="mb-3">
                        <label for="code" class="form-label">Code</label>
                        <input type="text" class="form-control" id="code" name="code" required>
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="college" class="form-label">College</label>
                        <select class="form-select" id="college" name="college" required>
                            <option value="" selected disabled>Select College</option>
                            {% for college in college_data %}
                                <option value="{{ college.collegecode }}">{{ college.collegename }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Create</button>
                </form>
            </div>            
        </div>
    </div>
</div>
{% endblock %}

{% block content %}

<!-- Display Messages -->
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{% if 'success' in category %}success{% else %}danger{% endif %} alert-dismissible fade show m-3" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
{% endwith %}  

<!-- Edit Course Modal -->
<div class="modal fade" id="editCourseModal" tabindex="-1" aria-labelledby="editCourseModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editCourseModalLabel">Edit Course</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="edit-course-form" method="POST" action="{{ url_for('course_bp.update_course') }}">
                    <div class="mb-3">
                        <label for="edit-coursecode" class="form-label">Course Code</label>
                        <input type="text" class="form-control" id="edit-coursecode" name="edit-coursecode" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="edit-coursename" class="form-label">Course Name</label>
                        <input type="text" class="form-control" id="edit-coursename" name="edit-coursename" required>
                    </div>
                    <div class="mb-3">
                        <label for="edit-collegecode" class="form-label">College Code</label>
                        <input type="text" class="form-control" id="edit-collegecode" name="edit-collegecode" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
<table class="table table-striped table-borderless mt-3">
    <thead class="table-dark">
        <tr>
            <th style="width: 150px;">Course Code</th>
            <th style="width: 300px;">Course Name</th>
            <th style="width: 150px;">College Code</th>
            <th style="width: 130px;"></th>
        </tr>
    </thead>
    <tbody>
        {% for course in course_data %}
        <tr class="highlightable-row" data-coursecode="{{ course.coursecode }}" style="height: 48px;">
            <td>{{ course.coursecode }}</td>
            <td>{{ course.coursename }}</td>
            <td>{{ course.collegecode }}</td>
            <td style="text-align: right;">
                <button class="btn btn-secondary btn-sm edit-btn" onclick="editCourse(this)" style="display: none; ">Edit</button>
                <button class="btn btn-danger btn-sm delete-btn" data-id="{{ course.coursecode }}" style="display: none" onclick="confirmDelete('{{ course.coursecode }}')">Delete</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    $(document).ready(function () {
        // Add click event listener to highlight rows
        $(".highlightable-row").click(function () {
            $(".highlightable-row").removeClass("table-active");
            // Toggle the 'table-active' class on the clicked row
            $(this).toggleClass("table-active");
            // Hide all edit and delete buttons
            $(".edit-btn, .delete-btn").hide();

            // Show edit and delete buttons for the clicked row
            $(this).find(".edit-btn, .delete-btn").show();
        });
        $(document).on("click", function (e) {
            if (!$(e.target).closest(".highlightable-row").length) {
                // Click occurred outside of the table rows
                $(".highlightable-row").removeClass("table-active");
                $(".edit-btn, .delete-btn").hide();
            }
        });
    });
    function editCourse(button) {
    // Get the closest row to the clicked "Edit" button
    var row = $(button).closest('tr');
    
    // Retrieve the values from the row cells
    var coursecode = row.find('td:eq(0)').text();
    var coursename = row.find('td:eq(1)').text();
    var collegecode = row.find('td:eq(2)').text();
    
    // Populate the modal form fields with the retrieved values
    $('#editCourseModal #edit-coursecode').val(coursecode);
    $('#editCourseModal #edit-coursename').val(coursename);
    $('#editCourseModal #edit-collegecode').val(collegecode);

    // Show the modal
    $('#editCourseModal').modal('show');
    }
    function confirmDelete(coursecode) {
    if (confirm("Are you sure you want to delete this course?")) {
        // User confirmed, perform the delete operation
        $.ajax({
            type: "DELETE",
            url: `/delete_course/${coursecode}`,  // Update the URL for deleting courses
            success: function (data) {
                // Handle success, update the UI
                // Remove the deleted course's row from the table
                $(`.highlightable-row[data-coursecode="${coursecode}"]`).remove();
                alert("Course deleted successfully");
            },
            error: function (error) {
                // Handle errors
                console.error('Failed to delete course', error);
                alert("Failed to delete course");
            }
        });
    }
}
</script>
{% endblock %}
