{% extends "base.html" %}
{% block title %}Students{% endblock %}
{% block page %}Students{% endblock %}
{% block content %}
<table class="table table-striped table-bordered mt-3">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Course</th>
            <th>Year</th>
            <th>Gender</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>2021-0728</td>
            <td>Carl Christian</td>
            <td>Tilid</td>
            <td>BSCS</td>
            <td>3</td>
            <td>Male</td>
        </tr>
        <!-- Add more rows -->
    </tbody>
</table>
{% endblock %}