{% extends "base.html" %}
{% block title %}Students{% endblock %}
{% block page %}Students{% endblock %}
{% block content %}
<table class="table table-striped table-bordered mt-3">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Course</th>
            <th>Year</th>
            <th>Gender</th>
        </tr>
    </thead>
    <tbody>
        {% for student in student_data %}
        <tr>
            <td>{{ student.id }}</td>
            <td>{{ student.firstname }}</td>
            <td>{{ student.lastname }}</td>
            <td>{{ student.coursecode }}</td>
            <td>{{ student.studentyear }}</td>
            <td>{{ student.gender }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}