{% extends "base.html" %}
{% block title %}Students{% endblock %}
{% block page %}Students{% endblock %}
{% block create %}
<button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#createStudentModal">
    Create Student
</button>

<!-- Create Student Modal -->
<div class="modal fade" id="createStudentModal" tabindex="-1" aria-labelledby="createStudentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createStudentModalLabel">Create Student</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{{ url_for('student_bp.students') }}">
                    <!-- Other form fields for student information -->
                    <div class="mb-3">
                        <label for="id" class="form-label">ID (YYYY-NNNN)</label>
                        <input type="text" class="form-control" id="id" name="id" required pattern="\d{4}-\d{4}">
                        <div class="invalid-feedback">Please enter a valid ID in the format YYYY-NNNN.</div>
                    </div>
                    <div class="mb-3">
                        <label for="firstname" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="firstname" name="firstname" required>
                    </div>
                    <div class="mb-3">
                        <label for="lastname" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="lastname" name="lastname" required>
                    </div>
                    <div class="mb-3">
                        <label for="course" class="form-label">Course</label>
                        <select class="form-select" id="course" name="course" required>
                            <option value="" selected disabled>Select Course</option>
                            {% for course in course_data %}
                                <option value="{{ course.coursecode }}">{{ course.coursename }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="year" class="form-label">Year</label>
                        <select class="form-select" id="year" name="year" required>
                            <option value="" selected disabled>Select Year</option>
                            <option value="1">1st Year</option>
                            <option value="2">2nd Year</option>
                            <option value="3">3rd Year</option>
                            <option value="4">4th Year</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="gender" class="form-label">Gender</label>
                        <select class="form-select" id="gender" name="gender" required>
                            <option value="" selected disabled>Select Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Create</button>
                </form>
            </div>            
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="alert alert-primary mt-3" role="alert">
    {% for message in messages %}
        {{ message }}
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}  
  
<!-- Edit Student Modal -->
<div class="modal fade" id="editStudentModal" tabindex="-1" aria-labelledby="editStudentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editStudentModalLabel">Edit Student</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="edit-student-form" method="POST" action="{{ url_for('student_bp.update_student') }}">
                    <div class="mb-3">
                        <label for="edit-id" class="form-label">ID</label>
                        <input type="text" class="form-control" id="edit-id" name="edit-id" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="edit-firstname" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="edit-firstname" name="edit-firstname" required>
                    </div>
                    <div class="mb-3">
                        <label for="edit-lastname" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="edit-lastname" name="edit-lastname" required>
                    </div>
                    <div class="mb-3">
                        <label for="edit-course" class="form-label">Course</label>
                        <select class="form-select" id="edit-course" name="edit-course" required>
                            <option value="" selected disabled>Select Course</option>
                            {% for course in course_data %}
                                <option value="{{ course.coursecode }}">{{ course.coursename }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="edit-year" class="form-label">Year</label>
                        <select class="form-select" id="edit-year" name="edit-year" required>
                            <option value="" selected disabled>Select Year</option>
                            <option value="1">1st Year</option>
                            <option value="2">2nd Year</option>
                            <option value="3">3rd Year</option>
                            <option value="4">4th Year</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="edit-gender" class="form-label">Gender</label>
                        <select class="form-select" id="edit-gender" name="edit-gender" required>
                            <option value="" selected disabled>Select Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
<table class="table table-striped table-borderless mt-3">
    <thead class="table-dark">
        <tr>
            <th style="width: 150px;">ID</th>
            <th style="width: 225px;">First Name</th>
            <th style="width: 150px;">Last Name</th>
            <th style="width: 100px;">Course</th>
            <th style="width: 50px;">Year</th>
            <th style="width: 75px;">Gender</th>
            <th style="width: 100px;"></th>
        </tr>
    </thead>
    <tbody>
        {% for student in student_data %}
        <tr class="highlightable-row" data-id="{{ student.id }}" style="height: 48px;">
            <td>{{ student.id }}</td>
            <td>{{ student.firstname }}</td>
            <td>{{ student.lastname }}</td>
            <td>{{ student.coursecode }}</td>
            <td>{{ student.studentyear }}</td>
            <td>{{ student.gender }}</td>
            <td style="text-align: right;">
                <button class="btn btn-secondary btn-sm edit-btn" onclick="editStudent(this)" style="display: none; ">Edit</button>
                <button class="btn btn-danger btn-sm delete-btn" data-id="{{ student.id }}" style="display: none" onclick="confirmDelete('{{ student.id }}')">Delete</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    $(document).ready(function () {
        // Add click event listener to highlight rows
        $(".highlightable-row").click(function () {
            $(".highlightable-row").removeClass("table-active");
            // Toggle the 'table-active' class on the clicked row
            $(this).toggleClass("table-active");
            // Hide all edit and delete buttons
            $(".edit-btn, .delete-btn").hide();

            // Show edit and delete buttons for the clicked row
            $(this).find(".edit-btn, .delete-btn").show();
        });
        $(document).on("click", function (e) {
            if (!$(e.target).closest(".highlightable-row").length) {
                // Click occurred outside of the table rows
                $(".highlightable-row").removeClass("table-active");
                $(".edit-btn, .delete-btn").hide();
            }
        });
    });
    function editStudent(button) {
    // Get the closest row to the clicked "Edit" button
    var row = $(button).closest('tr');
    
    // Retrieve the values from the row cells
    var id = row.find('td:eq(0)').text(); // Assuming the ID is in the first cell
    var firstname = row.find('td:eq(1)').text();
    var lastname = row.find('td:eq(2)').text();
    var course = row.find('td:eq(3)').text();
    var year = row.find('td:eq(4)').text();
    var gender = row.find('td:eq(5)').text();
    
    // Populate the modal form fields with the retrieved values
    $('#editStudentModal #edit-id').val(id);
    $('#editStudentModal #edit-firstname').val(firstname);
    $('#editStudentModal #edit-lastname').val(lastname);
    $('#editStudentModal #edit-course').val(course);
    $('#editStudentModal #edit-year').val(year);
    $('#editStudentModal #edit-gender').val(gender);

    // Show the modal
    $('#editStudentModal').modal('show');
    }
    function confirmDelete(recordId) {
        if (confirm("Are you sure you want to delete this student?")) {
            // User confirmed, perform the delete operation
            $.ajax({
                type: "DELETE",
                url: `/delete_student/${recordId}`,
                success: function (data) {
                    // Handle success, update the UI
                    // Remove the deleted student's row from the table
                    $(`.highlightable-row[data-id="${recordId}"]`).remove();
                },
                error: function (error) {
                    // Handle errors
                    console.error('Failed to delete student', error);
                }
            });
        }
    }
</script>
{% endblock %}
